In [1]:
# importing packages
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler, RobustScaler, Normalizer
from sklearn.metrics import accuracy_score, balanced_accuracy_score, classification_report, roc_curve, auc
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [2]:
print(os.getcwd())
total_tbi = os.getcwd() + "\\Dataset\\TBI\\total_tbi.csv"

f:\CTSN_TBI

In [3]:
df_tbi = pd.read_csv(total_tbi, delimiter = ",")
df_tbi.head()

,record_id,research_id,year_admitten_hospital,full_name,age_at_record,sex,tbi_cli_reason,tbi_cli_time_acci_hos,b_mach,b_nhiet_do,...,alt_v2,d_2_protein,albumin_v2,ure_v2,creatinin_v2,prothrombin_v2,d_3_aptt,d_5_na,d_5_k,d_5_cl
0,65,23161878,2023,PHẠM VĂN CHÍNH,36,0,NaN,NaN,75.0,36.5,...,15.00,74.00,NaN,5.59,96.30,109,20.6,139.0,3.57,108.0
1,66,23161896,2023,NGUYỄN TRƯỜNG VŨ,18,0,NaN,NaN,85.0,36.5,...,22.00,69.00,NaN,4.92,79.00,72,27.0,137.0,2.96,103.0
2,72,22047565,2023,PHẠM VĂN NGẬN,80,0,1.0,5.0,NaN,NaN,...,39.14,67.90,NaN,6.01,90.33,84,28.6,138.4,3.60,103.6
3,74,2169700,2023,NGUYỄN VĂN HƯNG,24,0,2.0,NaN,100.0,37.0,...,26.32,76.80,48.52,3.98,75.55,82,32.0,144.3,3.31,109.0
4,76,23172054,2023,NGUYỄN THỊ BÌNH THUẬN,28,1,5.0,1.0,76.0,36.6,...,19.08,81.53,45.73,5.31,66.32,79,31.5,136.4,3.78,102.4

In [4]:
df_tbi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   record_id               21 non-null     int64
 1   research_id             21 non-null     int64
 2   year_admitten_hospital  21 non-null     int64
 3   full_name               21 non-null     object
 4   age_at_record           21 non-null     int64
 5   sex                     21 non-null     int64
 6   tbi_cli_reason          19 non-null     float64
 7   tbi_cli_time_acci_hos   17 non-null     float64
 8   b_mach                  14 non-null     float64
 9   b_nhiet_do              14 non-null     float64
 10  b_huyet_ap              14 non-null     object
 11  b_gos_mat               21 non-null     int64
 12  b_gos_noi               21 non-null     int64
 13  b_gos_van_dong          21 non-null     int64
 14  b_gos                   21 non-null     int64
 15  b_tinh_trang            21 non-null     int64
 16  b_ddau                  21 non-null     int64
 17  b_bnon                  21 non-null     int64
 18  b_ttphu                 21 non-null     int64
 19  b_nho                   21 non-null     int64
 20  b_dong_tu_trai          21 non-null     float64
 21  b_dong_tu_phai          21 non-null     float64
 22  b_tieu_duong            18 non-null     float64
 23  b_tang_ha               18 non-null     float64
 24  c_nhu_mo___5            21 non-null     int64
 25  c_nhu_mo___6            21 non-null     int64
 26  c_nhu_mo___7            21 non-null     int64
 27  c_nhu_mo___8            21 non-null     int64
 28  c_nhu_mo___9            21 non-null     int64
 29  c_nhu_mo___16           21 non-null     int64
 30  c_nhu_mo___10           21 non-null     int64
 31  c_nhu_mo___14           21 non-null     int64
 32  c_nhu_mo___15           21 non-null     int64
 33  c_2_vo___1              21 non-null     int64
 34  c_2_vo___2              21 non-null     int64
 35  c_2_vo___3              21 non-null     int64
 36  c_nen_so                21 non-null     int64
 37  c_3_rotterdam           18 non-null     float64
 38  hong_cau_v2             21 non-null     float64
 39  bach_cau_v2             21 non-null     float64
 40  tieu_cau_v2             21 non-null     int64
 41  d_1_hst                 21 non-null     int64
 42  ethanol                 4 non-null      float64
 43  ast_v2                  21 non-null     float64
 44  alt_v2                  21 non-null     float64
 45  d_2_protein             21 non-null     float64
 46  albumin_v2              11 non-null     float64
 47  ure_v2                  21 non-null     float64
 48  creatinin_v2            21 non-null     float64
 49  prothrombin_v2          21 non-null     int64
 50  d_3_aptt                21 non-null     float64
 51  d_5_na                  21 non-null     float64
 52  d_5_k                   21 non-null     float64
 53  d_5_cl                  21 non-null     float64
dtypes: float64(22), int64(30), object(2)
memory usage: 9.0+ KB

In [5]:
lst=[" research_id",'full_name','b_huyet_ap',"year_admitten_hospital","ethanol","albumin_v2","b_mach","b_nhiet_do"]
df_tbi1= df_tbi.drop(lst, 1, errors='ignore')
df_tbi1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   record_id              21 non-null     int64
 1   research_id            21 non-null     int64
 2   age_at_record          21 non-null     int64
 3   sex                    21 non-null     int64
 4   tbi_cli_reason         19 non-null     float64
 5   tbi_cli_time_acci_hos  17 non-null     float64
 6   b_gos_mat              21 non-null     int64
 7   b_gos_noi              21 non-null     int64
 8   b_gos_van_dong         21 non-null     int64
 9   b_gos                  21 non-null     int64
 10  b_tinh_trang           21 non-null     int64
 11  b_ddau                 21 non-null     int64
 12  b_bnon                 21 non-null     int64
 13  b_ttphu                21 non-null     int64
 14  b_nho                  21 non-null     int64
 15  b_dong_tu_trai         21 non-null     float64
 16  b_dong_tu_phai         21 non-null     float64
 17  b_tieu_duong           18 non-null     float64
 18  b_tang_ha              18 non-null     float64
 19  c_nhu_mo___5           21 non-null     int64
 20  c_nhu_mo___6           21 non-null     int64
 21  c_nhu_mo___7           21 non-null     int64
 22  c_nhu_mo___8           21 non-null     int64
 23  c_nhu_mo___9           21 non-null     int64
 24  c_nhu_mo___16          21 non-null     int64
 25  c_nhu_mo___10          21 non-null     int64
 26  c_nhu_mo___14          21 non-null     int64
 27  c_nhu_mo___15          21 non-null     int64
 28  c_2_vo___1             21 non-null     int64
 29  c_2_vo___2             21 non-null     int64
 30  c_2_vo___3             21 non-null     int64
 31  c_nen_so               21 non-null     int64
 32  c_3_rotterdam          18 non-null     float64
 33  hong_cau_v2            21 non-null     float64
 34  bach_cau_v2            21 non-null     float64
 35  tieu_cau_v2            21 non-null     int64
 36  d_1_hst                21 non-null     int64
 37  ast_v2                 21 non-null     float64
 38  alt_v2                 21 non-null     float64
 39  d_2_protein            21 non-null     float64
 40  ure_v2                 21 non-null     float64
 41  creatinin_v2           21 non-null     float64
 42  prothrombin_v2         21 non-null     int64
 43  d_3_aptt               21 non-null     float64
 44  d_5_na                 21 non-null     float64
 45  d_5_k                  21 non-null     float64
 46  d_5_cl                 21 non-null     float64
dtypes: float64(18), int64(29)
memory usage: 7.8 KB

C:\Users\HANGO\AppData\Local\Temp\ipykernel_20032\2657871191.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_tbi1= df_tbi.drop(lst, 1, errors='ignore')

In [6]:
df_tbi1.describe()

,record_id,research_id,age_at_record,sex,tbi_cli_reason,tbi_cli_time_acci_hos,b_gos_mat,b_gos_noi,b_gos_van_dong,b_gos,...,ast_v2,alt_v2,d_2_protein,ure_v2,creatinin_v2,prothrombin_v2,d_3_aptt,d_5_na,d_5_k,d_5_cl
count,21.000000,2.100000e+01,21.000000,21.000000,19.000000,17.000000,21.000000,21.000000,21.000000,21.000000,...,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
mean,83.000000,3.204922e+07,42.095238,0.428571,1.894737,6.882353,3.761905,4.190476,5.428571,13.380952,...,45.748095,34.407143,75.330952,5.524286,78.407143,89.428571,28.976190,138.576190,3.542857,104.033333
std,8.910668,4.597650e+07,19.859267,0.507093,1.486784,11.296473,0.436436,0.813575,0.925820,1.961535,...,34.494998,43.761269,4.886725,1.580587,23.636619,10.670386,3.136703,2.109006,0.569843,2.200076
min,65.000000,2.169700e+06,17.000000,0.000000,1.000000,1.000000,3.000000,2.000000,3.000000,8.000000,...,20.390000,10.120000,64.460000,3.250000,5.640000,72.000000,20.600000,135.100000,2.800000,100.100000
25%,77.000000,2.317093e+07,28.000000,0.000000,1.000000,2.000000,4.000000,4.000000,5.000000,13.000000,...,29.130000,17.160000,73.230000,4.240000,69.790000,82.000000,27.500000,137.100000,3.190000,102.500000
50%,85.000000,2.317230e+07,41.000000,0.000000,1.000000,3.000000,4.000000,4.000000,6.000000,14.000000,...,35.200000,22.000000,76.760000,5.520000,77.640000,88.000000,29.200000,138.600000,3.500000,103.600000
75%,90.000000,2.317679e+07,47.000000,1.000000,2.500000,5.000000,4.000000,5.000000,6.000000,15.000000,...,49.260000,33.840000,78.150000,6.040000,87.170000,96.000000,30.200000,139.700000,3.740000,104.800000
max,95.000000,2.317129e+08,81.000000,1.000000,6.000000,48.000000,4.000000,5.000000,6.000000,15.000000,...,184.000000,217.960000,83.680000,8.990000,137.560000,109.000000,34.200000,144.300000,5.400000,109.000000

### Missing value

In [7]:
from sklearn.impute import KNNImputer
null_df = pd.DataFrame(df_tbi1.isnull().sum())
null_df[null_df[0]>0]

                       0
tbi_cli_reason         2
tbi_cli_time_acci_hos  4
b_tieu_duong           3
b_tang_ha              3
c_3_rotterdam          3

In [8]:
df_tbi1["c_3_rotterdam"].value_counts()

1.0    10
2.0     7
3.0     1
Name: c_3_rotterdam, dtype: int64

In [9]:
df_tbi1["c_3_rotterdam"].value_counts()

1.0    10
2.0     7
3.0     1
Name: c_3_rotterdam, dtype: int64

In [10]:
from sklearn.impute import KNNImputer

In [11]:
knn_imputer = KNNImputer(n_neighbors=5)
df_tbi2 = pd.DataFrame(knn_imputer.fit_transform(df_tbi1), columns=df_tbi1.columns)

In [12]:
df_tbi2.head()

,record_id,research_id,age_at_record,sex,tbi_cli_reason,tbi_cli_time_acci_hos,b_gos_mat,b_gos_noi,b_gos_van_dong,b_gos,...,ast_v2,alt_v2,d_2_protein,ure_v2,creatinin_v2,prothrombin_v2,d_3_aptt,d_5_na,d_5_k,d_5_cl
0,65.0,23161878.0,36.0,0.0,2.0,2.4,4.0,4.0,6.0,14.0,...,77.00,15.00,74.00,5.59,96.30,109.0,20.6,139.0,3.57,108.0
1,66.0,23161896.0,18.0,0.0,2.0,2.4,4.0,4.0,6.0,14.0,...,37.00,22.00,69.00,4.92,79.00,72.0,27.0,137.0,2.96,103.0
2,72.0,22047565.0,80.0,0.0,1.0,5.0,3.0,3.0,4.0,10.0,...,50.20,39.14,67.90,6.01,90.33,84.0,28.6,138.4,3.60,103.6
3,74.0,2169700.0,24.0,0.0,2.0,3.0,3.0,2.0,3.0,8.0,...,27.20,26.32,76.80,3.98,75.55,82.0,32.0,144.3,3.31,109.0
4,76.0,23172054.0,28.0,1.0,5.0,1.0,4.0,5.0,6.0,15.0,...,31.04,19.08,81.53,5.31,66.32,79.0,31.5,136.4,3.78,102.4

In [13]:
df_tbi2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   record_id              21 non-null     float64
 1   research_id            21 non-null     float64
 2   age_at_record          21 non-null     float64
 3   sex                    21 non-null     float64
 4   tbi_cli_reason         21 non-null     float64
 5   tbi_cli_time_acci_hos  21 non-null     float64
 6   b_gos_mat              21 non-null     float64
 7   b_gos_noi              21 non-null     float64
 8   b_gos_van_dong         21 non-null     float64
 9   b_gos                  21 non-null     float64
 10  b_tinh_trang           21 non-null     float64
 11  b_ddau                 21 non-null     float64
 12  b_bnon                 21 non-null     float64
 13  b_ttphu                21 non-null     float64
 14  b_nho                  21 non-null     float64
 15  b_dong_tu_trai         21 non-null     float64
 16  b_dong_tu_phai         21 non-null     float64
 17  b_tieu_duong           21 non-null     float64
 18  b_tang_ha              21 non-null     float64
 19  c_nhu_mo___5           21 non-null     float64
 20  c_nhu_mo___6           21 non-null     float64
 21  c_nhu_mo___7           21 non-null     float64
 22  c_nhu_mo___8           21 non-null     float64
 23  c_nhu_mo___9           21 non-null     float64
 24  c_nhu_mo___16          21 non-null     float64
 25  c_nhu_mo___10          21 non-null     float64
 26  c_nhu_mo___14          21 non-null     float64
 27  c_nhu_mo___15          21 non-null     float64
 28  c_2_vo___1             21 non-null     float64
 29  c_2_vo___2             21 non-null     float64
 30  c_2_vo___3             21 non-null     float64
 31  c_nen_so               21 non-null     float64
 32  c_3_rotterdam          21 non-null     float64
 33  hong_cau_v2            21 non-null     float64
 34  bach_cau_v2            21 non-null     float64
 35  tieu_cau_v2            21 non-null     float64
 36  d_1_hst                21 non-null     float64
 37  ast_v2                 21 non-null     float64
 38  alt_v2                 21 non-null     float64
 39  d_2_protein            21 non-null     float64
 40  ure_v2                 21 non-null     float64
 41  creatinin_v2           21 non-null     float64
 42  prothrombin_v2         21 non-null     float64
 43  d_3_aptt               21 non-null     float64
 44  d_5_na                 21 non-null     float64
 45  d_5_k                  21 non-null     float64
 46  d_5_cl                 21 non-null     float64
dtypes: float64(47)
memory usage: 7.8 KB

In [23]:
from sklearn.impute import KNNImputer
null_df = pd.DataFrame(df_tbi2.isnull().sum())
null_df[null_df[0]>0]

Empty DataFrame
Columns: [0]
Index: []

In [24]:
df_tbi2["c_3_rotterdam"].value_counts()

0    18
3     1
2     1
1     1
Name: c_3_rotterdam, dtype: int64

In [25]:
df_tbi2["b_gos"].value_counts()

14.0    7
15.0    7
10.0    2
13.0    2
12.0    2
8.0     1
Name: b_gos, dtype: int64